*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Times New Roman', Times, serif;
    /* background-color: rgb(78, 228, 173); */

}
.hide-card{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-left: 15rem;
    margin-right: 15rem;
    
}
h2{
    color: #484848;
    font-size: 26px
}
p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 1.51
}
.card{
    background: #fff;
    padding: 22px 30px;
    border-radius: 5px;
    line-height: 1.8;
    /* clip-path: circle(100% at 0% ); */
    
}



#ch{
    display: none;
}
#ch:checked ~ .card-content{
    display: block;
}
#ch:checked ~ label{
    display: none;
}
.card-content{
    display: none;
}
label{
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: rgb(72, 113, 97);
    padding: 3px 13px;
    /* margin-top: 12px; */
    margin-left: 55rem;
    border-radius: 3px;
}


.div-img{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border: 1px solid #6f6f6f;
    border-radius: 5px;
    margin-left: 15rem;
    margin-top: 2rem;
    margin-right: 15rem;
}
img{
   width: 250px;
   padding: 1rem; 
}
.div-img h2{
    margin-top: 1rem;
    color: #484848;
    font-size: 26px;
}
.div-img .bmw p{
    display: flex;
    margin: rem;
    line-height: 2rem;
}
.div-img .bmw span{
    margin-left: 1rem;
    color: #aaa;
}